:root {
  --primary-color: #3493a6;
  --secondary-color: #1fb078;
  --tertiary-color: #088cf8;
  --quaternary-color: #1fb078;
  --quinary-color: #3493a6;
  --senary-color: #1fb078;
  --septenary-color: #3493a6;
  --octonary-color: #1fb078;
  --nonary-color: #3493a6;
  --denary-color: #1fb078;
  --container-background-white: white;
  --container-background-black: ;
  --alt-black-color: #0d084d;
  --features-height: 40rem;
}

.Features-Section {
  display: flex; /*keep this out to keep feature section in line with hero section*/
  padding: 2rem 0rem;
  width: 100%;
  margin-bottom: 0rem;
  background-color: var(--container-background-white);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.Features-Container {
  display: flex;
  width: 79%;
  height: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.Features-Description {
  display: inline-block;
  background-color: var(--container-background-white);
  width: 100%;
  height: var(--features-height);
  padding: 0rem 1rem 0rem 0rem;
}

.Features-Description h2 {
  display: block;
  margin-bottom: 2rem;
  font-size: 3rem;
  width: auto;
  color: #0d084d;
}

.Features-Title {
  display: block;
  margin-bottom: 2rem;
  font-size: 3rem;
  width: auto;
  color: #0d084d;
}

hr {
  border: none;
  height: 4px;
  color: #1100f8;
  background-color: #088cf8;
  width: 6rem;
  height: calc(var(--features-height) / 55);

  /* height: 20px; */
  margin-bottom: 2rem;
}

.Features-Description p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.Site-Image-Container {
  display: flex;
  width: 100%;
  height: var(--features-height);
  background-color: var(--container-background-white);
}

.Site-Image {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1fb07800;
  margin-left: 1rem;
  border-radius: 1rem;
}

.Feature-img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
