/* Hero section styles */

@media screen and (min-width: 768px) {
  .Hero {
    /* position: absolute; */
    text-align: right;
    padding: 2rem 0rem 0rem 0rem;
    /* width: 79%; */
    height: auto;
    margin: auto;
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
    /* margin-top: 50px; */
  }

  .Hero h2 {
    position: relative;
    font-size: 3rem;
    font-weight: 500;
    color: #ffffff;
    /* margin-bottom: 2rem; */
    /* margin: 1rem 1rem 1rem 1rem; */
  }

  .Hero h1 {
    position: relative;
    word-wrap: break-word;
    font-size: 6rem;
    color: #ffffff;
    /* font-weight:500; */

    /* margin-top: 1rem; */
    /* margin: 2rem; */
  }

  .Hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    opacity: 0.25;
    background-color: rgb(0, 0, 0);
    /* background-size: contain; */
  }

  .Hero-Buttons button {
    padding: 1rem 2rem;
    border-radius: 4px;
    margin-top: 1rem;
    /* margin-bottom: 4rem; */

    font-size: 1rem;
    border-style: none;
    color: #ffffff;
    background-color: #088cf8;
  }

  .Hero-Buttons button:hover {
    color: #0063f8;
    background-color: #ffffff;
    cursor: pointer;
  }

  .Hero-Buttons button:hover .arrow {
    padding: 0rem 0.6rem 0.2rem 0.6rem;
    color: #088cf8;
    background-color: #ffffff;
    margin: 1rem 0rem 1rem 0.5rem;
    border-radius: 0.5rem;
  }

  .arrow {
    padding: 0rem 0.6rem 0.2rem 0.6rem;
    color: #ffffff;
    background-color: #088cf8;
    margin: 1rem 0rem 5rem 0.5rem;
    border-radius: 0.5rem;
  }

  /* .arrow button:hover{
    padding: 0rem 0.3rem 0.2rem 0.3rem;
    color:#ffffff;
    background-color: #088cf8;
    margin: 1rem 0rem 1rem 0.5rem;
    border-radius: 0.5rem;
  } */
}
