* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 0);
  /* margin-bottom: 0rem; */
  /* background-attachment: fixed; */
  /* background: url("./Images/Lemon.png"); */
  /* background-size: cover; */
}
